version: '3.9'
networks:
  default:
    name: logos-test-network
    driver: bridge
volumes:
  apollo_test_neo4j_data: {}
  apollo_test_neo4j_logs: {}
  apollo_test_milvus_etcd: {}
  apollo_test_milvus_minio: {}
  apollo_test_milvus: {}
services:
  neo4j:
    container_name: apollo-test-neo4j
    image: neo4j:5.11.0
    ports:
    - 27474:7474
    - 27687:7687
    environment:
    - NEO4J_AUTH=neo4j/neo4jtest
    - NEO4J_PLUGINS=["apoc","n10s"]
    - NEO4JLABS_PLUGINS=["apoc","n10s"]
    - NEO4J_dbms_security_procedures_unrestricted=apoc.*,n10s.*
    - NEO4J_dbms_security_procedures_allowlist=apoc.*,n10s.*
    - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
    volumes:
    - apollo_test_neo4j_data:/data
    - apollo_test_neo4j_logs:/logs
    healthcheck:
      test:
      - CMD
      - cypher-shell
      - -u
      - neo4j
      - -p
      - neo4jtest
      - RETURN 1
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
    - default
  milvus-etcd:
    container_name: apollo-test-milvus-etcd
    image: quay.io/coreos/etcd:v3.5.15
    environment:
    - ETCD_AUTO_COMPACTION_MODE=revision
    - ETCD_AUTO_COMPACTION_RETENTION=1000
    - ETCD_QUOTA_BACKEND_BYTES=4294967296
    - ETCD_SNAPSHOT_COUNT=50000
    command:
    - etcd
    - -advertise-client-urls=http://127.0.0.1:2379
    - -listen-client-urls
    - http://0.0.0.0:2379
    - --data-dir
    - /etcd
    volumes:
    - apollo_test_milvus_etcd:/etcd
    networks:
    - default
  milvus-minio:
    container_name: apollo-test-milvus-minio
    image: minio/minio:RELEASE.2024-11-07T00-52-20Z
    environment:
    - MINIO_ROOT_USER=minioadmin
    - MINIO_ROOT_PASSWORD=minioadmin
    command:
    - minio
    - server
    - /minio_data
    - --console-address
    - :9001
    volumes:
    - apollo_test_milvus_minio:/minio_data
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:9000/minio/health/live
      interval: 30s
      timeout: 20s
      retries: 3
    ports:
    - 27900:9000
    - 27901:9001
    networks:
    - default
  milvus:
    container_name: apollo-test-milvus
    image: milvusdb/milvus:v2.4.15
    command:
    - milvus
    - run
    - standalone
    environment:
    - ETCD_ENDPOINTS=milvus-etcd:2379
    - MINIO_ADDRESS=milvus-minio:9000
    depends_on:
    - milvus-etcd
    - milvus-minio
    volumes:
    - apollo_test_milvus:/var/lib/milvus
    ports:
    - 27530:19530
    - 27091:9091
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:9091/healthz
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
    - default
