version: '3.9'
networks:
  default:
    name: logos-test-network
    driver: bridge
volumes:
  hermes_test_neo4j_data: {}
  hermes_test_neo4j_logs: {}
  hermes_test_milvus_etcd: {}
  hermes_test_milvus_minio: {}
  hermes_test_milvus: {}
services:
  milvus-etcd:
    container_name: hermes-test-milvus-etcd
    image: quay.io/coreos/etcd:v3.5.15
    environment:
    - ETCD_AUTO_COMPACTION_MODE=revision
    - ETCD_AUTO_COMPACTION_RETENTION=1000
    - ETCD_QUOTA_BACKEND_BYTES=4294967296
    - ETCD_SNAPSHOT_COUNT=50000
    command:
    - etcd
    - -advertise-client-urls=http://127.0.0.1:2379
    - -listen-client-urls
    - http://0.0.0.0:2379
    - --data-dir
    - /etcd
    volumes:
    - hermes_test_milvus_etcd:/etcd
    networks:
    - default
  milvus-minio:
    container_name: hermes-test-milvus-minio
    image: minio/minio:RELEASE.2024-11-07T00-52-20Z
    environment:
    - MINIO_ROOT_USER=minioadmin
    - MINIO_ROOT_PASSWORD=minioadmin
    command:
    - minio
    - server
    - /minio_data
    - --console-address
    - :19001
    volumes:
    - hermes_test_milvus_minio:/minio_data
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:19000/minio/health/live
      interval: 30s
      timeout: 20s
      retries: 3
    ports:
    - 19000:9000
    - 19001:9001
    networks:
    - default
  milvus:
    container_name: hermes-test-milvus
    image: milvusdb/milvus:v2.4.15
    command:
    - milvus
    - run
    - standalone
    environment:
    - ETCD_ENDPOINTS=milvus-etcd:2379
    - MINIO_ADDRESS=milvus-minio:9000
    depends_on:
    - milvus-etcd
    - milvus-minio
    volumes:
    - hermes_test_milvus:/var/lib/milvus
    ports:
    - 29530:19530
    - 19091:9091
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:9091/healthz
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
    - default
